
 *, *:after, *:before {
	 box-sizing: border-box;
}
 body {
	 font-family: "DM Sans", sans-serif;
	 line-height: 1.5;
	 background-color: #f1f3fb;
	 
}
 img {
	 max-width: 100%;
	 display: block;
}
 input {
	 appearance: none;
	 border-radius: 0;
}
.errorlist{
	list-style-type: none;
	color:#d9534f;
	padding-left: 0;
}
 .card {
	 margin: 2rem auto;
	 display: flex;
	 flex-direction: column;
	 width: 100%;
	 max-width: 425px;
	 background-color: #fff;
	 border-radius: 10px;
	 box-shadow: 0 10px 20px 0 rgba(153, 153, 153, 0.25);
	 padding: 0.75rem;
}
 .card-image {
	 border-radius: 8px;
	 overflow: hidden;
	 padding-bottom: 65%;
	 background-image: url("https://assets.codepen.io/285131/coffee_1.jpg");
	 background-repeat: no-repeat;
	 background-size: 150%;
	 background-position: 0 5%;
	 position: relative;
}
 .card-heading {
	 position: absolute;
	 left: 10%;
	 top: 15%;
	 right: 10%;
	 font-size: 1.75rem;
	 font-weight: 700;
	 color: #735400;
	 line-height: 1.222;
}
 .card-heading small {
	 display: block;
	 font-size: 0.75em;
	 font-weight: 400;
	 margin-top: 0.25em;
}
 .card-form {
	 padding: 2rem 1rem 0;
}
 .input {
	 display: flex;
	 flex-direction: column-reverse;
	 position: relative;
	 padding-top: 1.5rem;
}
 .input + .input {
	 margin-top: 1.5rem;
}
 label {
	 color: #8597a3;
	 position: absolute;
	 top: 1.5rem;
	 transition: 0.25s ease;
	 transform: translateY(-1.8rem);
}
 input {
	 border: 0;
	 z-index: 1;
	 background-color: transparent;
	 border-bottom: 2px solid #eee;
	 font: inherit;
	 font-size: 1.125rem;
	 padding: 0.25rem 0;
}
 input:focus, input:valid {
	 outline: 0;
	 border-bottom-color: #6658d3;
}
 
 .action {
	 margin-top: 2rem;
}
 .action-button {
	 font: inherit;
	 font-size: 1.25rem;
	 padding: 1em;
	 width: 100%;
	 font-weight: 500;
	 background-color: #6658d3;
	 border-radius: 6px;
	 color: #fff;
	 border: 0;
}
 .action-button:focus {
	 outline: 0;
}
 .card-info {
	 padding: 1rem 1rem;
	 text-align: center;
	 font-size: 0.875rem;
	 color: #8597a3;
}
 .card-info a {
	 display: block;
	 color: #6658d3;
	 text-decoration: none;
}
 



.profile {
	width: 350px;
	background-color: #efefef;
	border: none;
	cursor: pointer;
	transition: all 0.5s;
}

.image img {
	transition: all 0.5s
}

.profile:hover .image img {
	transform: scale(1.5)
}



.name {
	font-size: 22px;
	font-weight: bold
}

.idd {
	font-size: 14px;
	font-weight: 600
}

.idd1 {
	font-size: 12px
}

.number {
	font-size: 22px;
	font-weight: bold
}

.follow {
	font-size: 12px;
	font-weight: 500;
	color: #444444
}

.btn1 {
	height: 40px;
	width: 150px;
	border: none;
	background-color: #000;
	color: #aeaeae;
	font-size: 15px
}

.text span {
	font-size: 13px;
	color: #545454;
	font-weight: 500
}

.icons i {
	font-size: 19px
}

hr .new1 {
	border: 1px solid
}

.join {
	font-size: 14px;
	color: #a0a0a0;
	font-weight: bold
}

.date {
	background-color: #ccc
}



.avatar{
	width:200px;
	height:200px;
	}
	.file-upload input{
		border-bottom-color:none !important;
		border-bottom: 0 !important;
	}






















	i {
    font-style: italic;
}



.widget-subheading{
    color: #858a8e;
    font-size: 10px;
}

.btn-actions-pane-right {
    margin-left: auto;
    white-space: nowrap;
}

.text-capitalize {
    text-transform: capitalize !important;
}

.scroll-area-sm {
    height: 288px;
    overflow-x: hidden;
}

.list-group-item {
    position: relative;
    display: block;
    padding: 0.75rem 1.25rem;
    margin-bottom: -1px;
    background-color: #fff;
    border: 1px solid rgba(0, 0, 0, 0.125);
}

.list-group {
    display: flex;
    flex-direction: column;
    padding-left: 0;
    margin-bottom: 0;
}

.todo-indicator {
    position: absolute;
    width: 4px;
    height: 60%;
    border-radius: 0.3rem;
    left: 0.625rem;
    top: 20%;
    opacity: .6;
    transition: opacity .2s;
}

.bg-warning {
    background-color: #f7b924 !important;
}

.widget-content {
    padding: 1rem;
    flex-direction: row;
    align-items: center;
}

.widget-content .widget-content-wrapper {
    display: flex;
    flex: 1;
    position: relative;
    align-items: center;
}

.widget-content .widget-content-right.widget-content-actions {
    visibility: hidden;
    opacity: 0;
    transition: opacity .2s;
}

.widget-content .widget-content-right {
    margin-left: auto;
}

.btn:not(:disabled):not(.disabled) {
    cursor: pointer;
}

.btn {
    position: relative;
    transition: color 0.15s, background-color 0.15s, border-color 0.15s, box-shadow 0.15s;
}

.btn-outline-success {
    color: #3ac47d;
    border-color: #3ac47d;
}

.btn-outline-success:hover {
    color: #fff;
    background-color: #3ac47d;
    border-color: #3ac47d;
}

.btn-outline-success:hover {
    color: #fff;
    background-color: #3ac47d;
    border-color: #3ac47d;
}
.btn-primary {
    color: #fff;
    background-color: #3f6ad8;
    border-color: #3f6ad8;
}
.btn { 
    position: relative;
    transition: color 0.15s, background-color 0.15s, border-color 0.15s, box-shadow 0.15s;
    outline: none !important;
}












.modal {
  
  width: 100%;
  min-height: 100vh;

}
