{% extends 'products/base.html' %}
{%load static%}
{%block content%}
<div class="card container" style="width: 18rem;">
  <div class="card-body">
    <h5 class="card-title">{{product.title}}</h5>
    <h6 class="card-subtitle mb-2 text-muted">{{product.price}}$</h6>
    <p class="card-text">{{product.description}}</p>
    {%if request.user == product.owner%}
    <a href="{%url 'product-update' product.id%}" class="btn btn-info">Edit</a>
    <a href="{%url 'delete' product.id%}" class="btn btn-danger">Delete</a>
    {%else%}
    <a href="{%url 'login' %}" disabled class="btn btn-info">Edit</a>
    <a href="{%url 'login' %}"  class="btn btn-danger">Delete</a>
    {%endif%}
  </div>
</div>
{%endblock content%}



